body {
  font-family: 'Kameron', serif;
  background: #fff8f0;
  margin: 0;
  padding: 20px;
}


.container {
  max-width: 1000px;
  margin: auto;
}

h1,
h2 {
  text-align: center;
}

.menu-category {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-bottom: 40px;
}

.menu-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 600px;
  background: white;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 4px 10px;
  font-size: 0.8rem;
  margin: 10px auto;
  gap: 20px;
  line-height: 1;
}

.menu-item img {
  width: 150px;
  height: 100px;
  object-fit: cover;
  border-radius: 6px;
}


.menu-item button {
  margin: 3px;
  padding: 4px 12px;
  background: #fcea47;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.menu-item button:hover {
  background: #FADA7A;
}

.cart {
  margin-top: 50px;
  border-top: 2px solid #ccc;
  padding-top: 20px;
}

#cart-items {
  list-style: none;
  padding: 0;
}

.remove-btn {
  margin-left: 10px;
  padding: 2px 6px;
  background: #d9534f;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 0.8rem;
  cursor: pointer;
}

.tip-buttons button {
  margin: 5px;
  padding: 6px 12px;
  background: #32a852;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.total {
  font-weight: bold;
  font-size: 1.2em;
}

#cart-items li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

#cart-items li button.remove-btn {
  flex-shrink: 0;
}

.menu-item .info {
  flex: 1;
}

.menu-item h3 {
  margin: 0 0 5px;
  margin-left: 5px;
  font-size: 20px;
}

.menu-item span {
  display: block;
  margin-left: 5px;
  margin-bottom: 5px;
  font-size: 15px;
}

.menu-item button {
  font-size: 15px;
}

.logo {
  position: absolute;
  top: 2px;
  left: 0;
  height: 100%;
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 10px;
  box-sizing: border-box;
}

.header {
  position: absolute;
  width: 100%;
  top: 0px;
  right: 0px;
  left: 0px;
  height: 89px;
  font-size: 35px;
}

.menu {
  position: relative;
  cursor: pointer;
}

.page-links {
  position: absolute;
  top: 24px;
  right: 28px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 50px;
}

.placeholder-logo-icon {
  width: 100px;
  position: relative;
  max-height: 100px;
}

.header1 {
  position: absolute;
  width: 100%;
  top: 0px;
  right: 0px;
  left: 0px;
  /* box-shadow: 0px 4px 10px 4px rgba(0, 0, 0, 0.25); */
  background-color: #f6f0f0;
  height: 89px;
}

.links {
  position: absolute;
  bottom: 0px;
  left: calc(50% - 87px);
  font-size: 13px;
  display: inline-block;
  width: 233px;
  height: 75px;
}

a,
a:visited,
a:hover,
a:active {
  color: inherit;
  text-decoration: none;
}

.frame-child {
  align-self: stretch;
  position: relative;
  /* box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.25); */
  background-color: #292823;
  height: 400px;
}

.footer-inner {
  position: absolute;
  width: 100%;
  top: 0px;
  right: 0px;
  left: 0px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 10px 0px;
  box-sizing: border-box;
}

.header003 {
  position: absolute;
  bottom: 111px;
  left: calc(50% - 112.5px);
  font-size: 24px;
  display: inline-block;
  width: 257px;
}

.clock-icon {
  position: absolute;
  bottom: 117px;
  left: calc(50% - 144.5px);
  width: 20px;
  height: 20px;
}

.monday {
  margin: 0;
}

.days {
  position: absolute;
  bottom: 0px;
  left: calc(50% - 90.5px);
  display: inline-block;
  width: 130px;
  height: 105px;
}

.times {
  position: absolute;
  bottom: 0px;
  left: calc(50% + 39.5px);
  display: inline-block;
  width: 105px;
  height: 105px;
}

.hours {
  width: 289px;
  position: relative;
  height: 139px;
  font-size: 13px;
}

.header0031 {
  position: absolute;
  bottom: 59px;
  left: calc(50% - 111px);
  display: inline-block;
  width: 257px;
  cursor: pointer;
}

.adress {
  position: absolute;
  bottom: 0px;
  left: calc(50% - 89px);
  font-size: 13px;
  display: inline-block;
  width: 235px;
  height: 53px;
}

.phone-icon {
  position: absolute;
  bottom: 58px;
  left: calc(50% - 146px);
  width: 24px;
  height: 24px;
}

.contact {
  width: 292px;
  position: relative;
  height: 87px;
}

.header0032 {
  position: absolute;
  bottom: 81px;
  left: calc(50% - 109px);
  display: inline-block;
  width: 255px;
}

.instagram {
  font-family: Kameron;
}

.vector-icon {
  position: absolute;
  bottom: 82px;
  left: calc(50% - 146px);
  width: 24px;
  height: 24px;
}

.follow {
  width: 292px;
  position: relative;
  height: 109px;
}

.hours-parent {
  position: absolute;
  width: calc(100% - 303px);
  top: 162px;
  right: 162px;
  left: 141px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 142px;
}

.header002 {
  width: 307px;
  position: absolute;
  margin: 0 !important;
  top: 10px;
  left: calc(50% - 165px);
  display: inline-block;
  z-index: 0;
}

.header002-wrapper {
  position: absolute;
  width: calc(100% - 1130px);
  top: 57px;
  right: 1030px;
  left: 100px;
  height: 96px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 10px 0px;
  box-sizing: border-box;
  font-size: 64px;
}

.vector-icon1 {
  width: 40px;
  position: relative;
  height: 40px;
}

.vector-wrapper {
  position: absolute;
  width: calc(100% - 1366px);
  top: 326px;
  right: 138px;
  left: 1298px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  cursor: pointer;
}

.footer {
  position: absolute;
  width: calc(100% + 20px);
  top: 3136px;
  right: -20px;
  left: 0px;
  height: 420px;
  color: #f6f0f0;
}
